{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{{parent()}}
<h1>Eliminar </h1>
<table>
    <thead>
        <tr>
            <td><u>id</u></td>
            <td><u>Titulo</u></td>
            <td><u>Descripcion</u></td>
            <td><u>Fecha de creacion</u></td>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            
            <tr>
                <td><a href="{{path('postDelete', {id:post.id})}}">Eliminar</a></td>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td>{{post.creation_date | date}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

{% endblock %}